<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="./js/emoji-picker.js" type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.47/vue.global.min.js" integrity="sha512-DJ2+sosWB5FnZAIeCWAHu2gxQ7Gi438oOZLcBQSOrW8gD0s7LIXDv/5RW76B3FcljF40BXnfqNIo6Dhp7dFHJg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <div :class="dark ? 'my-dark-bg' : 'my-light-bg'" class="wrapper" >
        <button @click="dark = !dark" :class="dark ? 'text-bg-light' : 'text-bg-dark'" class="badge r-5 rounded-pill position-absolute align-self-start">{{dark ? 'light' : 'dark'}}</button>
            <div :class="{'invert' : dark}" class="screen mx-auto my-auto">
                <!-- Left side -->
                <div v-if="!mobile || (mobile &&!showMain)" class="w-35 my-d-block my-100 h-100">
                    <!-- UserHeader -->
                    <div class="user-header container-fluid">
                        <div class="row py-2 g-0 align-items-center">
                            <div class="col-8">
                                <div class="d-flex align-items-center g-0">
                                    <div class="img-card rounded-circle overflow-hidden">
                                        <img class="img-fluid rounded-circle" src="./img/avatar_io.jpg" alt="Mine Avatar">
                                    </div>
                                    <div class="ps-2 flex-grow-1">
                                        <h5 class="m-0 lh-1">Sofia</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 text-end">
                                <a class="text-secondary px-2" href="#"><i class="fa-solid fa-circle-notch"></i></a>
                                <a class="text-secondary px-2" href="#"><i class="fa-solid fa-message"></i></a>
                                <a class="text-secondary px-2" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Notify bar -->
                    <div class="bell container-fluid">
                        <div class="row py-2 g-0">
                            <div class="col-10">
                                <div class="d-flex align-items-center g-0">
                                    <div class="rounded-circle overflow-hidden d-flex justify-content-center align-items-center">
                                        <i class="fa-solid fa-bell-slash"></i>
                                    </div>
                                    <div class="ps-2 d-flex align-items-center flex-wrap">
                                        <h6 class="m-0 lh-1 col-12">Ricevi notifiche di nuovi messaggi</h6>
                                        <a href="#" class="col-12 text-secondary small">Attiva notifiche desktop</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Search Bar -->
                    <div class="input-group my-2 container-fluid search">
                        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <input @keyup="searchContact" v-model="searchTxt" type="text" name="search" class="form-control" placeholder="Cerca o inizia una nuova chat">
                    </div>
                    <!-- Lista contatti -->
                    <div class="container-fluid">
                        <div class="row h-100 align-content-start overflow-x-hidden overflow-y-auto">
                            <div @click="mobile ? showMain = !showMain : '', checkIndex(contact.id)" v-for="(contact, index) in contacts" :key="contact.id" :class="{'active' : activeIndex === index, 'd-none': !contact.visible}" class="col-12 py-2">
                                <div class="card border-0 bg-transparent">
                                    <div class="row py-2 m-0 g-0">
                                        <div class="col-10">
                                            <div class="d-flex g-0">
                                                <div class="img-card rounded-circle overflow-hidden">
                                                    <img class="img-fluid rounded-circle" :src="contact.avatar" :alt="contact.name">
                                                </div>
                                                <div class="ps-2 flex-grow-1">
                                                    <h5 class="m-0 lh-1">{{contact.name}}</h5>
                                                    <p class="text-secondary m-0">{{getLastMessageText(index)}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-2 text-end">{{getLastMessageHour(index)}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Main side -->
                <!-- v-if="showMain" -->
                <div v-if="!mobile || (mobile && showMain)" class="w-65 my-100 h-100">
                    <!-- Active contact -->
                    <div class="active-header">
                        <div class="container-fluid align-items-center row py-2 g-0">
                            <div class="col-9">
                                <div class="d-flex align-items-center g-0">
                                    <div class="img-card rounded-circle overflow-hidden">
                                        <img class="img-fluid rounded-circle" :src="contacts[activeIndex].avatar" :alt="contacts[activeIndex].name">
                                    </div>
                                    <div class="ps-2 flex-grow-1">
                                        <h5 class="m-0 lh-1">{{contacts[activeIndex].name}}</h5>
                                        <span class="text-secondary small">Ultimo accesso effettuato il {{getLastMessageDate(activeIndex)}} alle ore {{getLastMessageHour(activeIndex)}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 fs-3 text-end">
                                <a class="text-secondary px-2" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                                <a class="text-secondary px-2" href="#"><i class="fa-solid fa-paperclip"></i></a>
                                <a class="text-secondary ps-2 pe-3" href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Active messages -->
                    <div class="active-main">
                        <div class="container-fluid h-100">
                            <div class="row flex-column justify-content-center position-relative align-items-center gy-2  mt-2 gx-5">
                                <button v-if="mobile && showMain" @click="showMain=false" class="btn btn-secondary rounded">&lArr;</button>
                                <div v-for="(waMsg, index) in contacts[activeIndex].messages" ref="items" :key="index" :class="waMsg.status, {'d-none' : waMsg.removed === true}" class="rounded mx-5 fit-ctn position-relative">
                                    <div class="card-body pt-4">
                                        {{waMsg.message}}
                                        <button @click="waMsg.drop = !waMsg.drop" class="btn my-opacity-0"><i class="fa-solid fa-angle-down"></i></button>
                                    </div>
                                    <!-- <div class="card-text small text-end text-body-secondary">{{waMsg.date}}</div> -->
                                    <div class="card-text small text-end text-secondary">{{getMessageHour(index)}}</div>
                                    <div :class="{'d-none' : waMsg.drop === false}" class="dropOpts bg-white rounded position-absolute">
                                        <ul class="list-unstyled">
                                            <li class="btn">Info messaggio</li>
                                            <li class="btn" @click="deleteMsg(index)">Cancella messaggio</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Writing bar -->
                    <div class="main-footer d-flex align-items-center">
                        <div class="container-fluid">
                            <div class="row justify-content-between fs-3 align-items-center w-100">
                                <div class="col-1 text-secondary text-center"><i class="fa-regular fa-face-smile"></i></div>
                                <div class="col-10">
                                    <input @keyup.enter="sendMsg" v-model="newTxt" type="text" name="user-msg" class="form-control fs-4" placeholder="Scrivi un messaggio">
                                </div>
                                <!-- appare il microfono se il messaggio è vuoto, altrimenti il simbolo per invio -->
                                <div :class="!newTxt ? '' : 'd-none'" class="col-1 text-secondary text-center"><i class="fa-solid fa-microphone"></i></div>
                                <div @click="sendMsg" :class="!newTxt ? 'd-none' : ''" class="col-1 text-secondary text-center"><i class="fa-regular fa-paper-plane"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="./js/script.js"></script>
</body>
</html>